@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffc107,#e91e63);
    border-radius: 50%;
    transform: translate(-250px,-120px);
}
section::after{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#2196f3,#31ff38);
    border-radius: 50%;
    transform: translate(250px,150px);
}

.box{
    position: relative;
    z-index: 1000;
}

.container{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(1,1,1,0.2) ;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#dycalendar{
    width: 100%;
    padding: 20px;
}
#dycalendar table{
    width: 100%;
    padding: 20px;
    border-spacing: 5px;
}
#dycalendar table tr:nth-child(1) td{
    background: #fff;
    color: #111;
    border-radius: 4px;
    font-weight: 600;
}
#dycalendar table td{
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}
#dycalendar table td:hover{
    background: #fff !important;
    color: #111 !important;
}

.dycalendar-month-container .dycalendar-today-date, .dycalendar-month-container .dycalendar-target-date
{
    background: #fff !important;
    color: #111 !important;
}

.dycalendar-month-container .dycalendar-header 
.dycalendar-prev-next-btn.prev-btn

{
    background: #fff;
    color: #111;
    width: 40px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-left: 25px;
    border-radius: 4px;
}

.dycalendar-month-container .dycalendar-header 
.dycalendar-prev-next-btn.next-btn

{
    background: #fff;
    color: #111;
    width: 40px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-right: 2px;
    border-radius: 4px;
}

.dycalendar-month-container .dycalendar-span-month-year
{
    color: #FFF;
    font-size: 1.4em;
    font-weight: 500;
}